html, body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #0c0c1e;
    font-size: 1em;
}

body, p, input, button {
    font-family: 'Bitter', serif;
    font-weight: 200;
    color: #f3e3e2;
}

h1 {
    margin: 2rem;
    font-weight: 700;
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    margin: 1rem;
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container {
    width: 100%;
    padding: 1rem;
    /* display: none; */
}

#loginLogo {
    display: block;
    max-width: 100%;
    transition: transform 600ms cubic-bezier(.6,-0.28,.74,.05);
}

.login-container #loginForm {
    padding: 2rem 0.5rem;
    transition: transform 600ms cubic-bezier(.6,-0.28,.74,.05);
}

.login-container input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #1b2e3c;
    background: none;
    color: #f3e3e2;
    font-size: 1rem;
    line-height: 2rem;
}

.login-container input:focus {
    outline: none;
    border-bottom: 1px solid #f3e3e2;
}

.login-container button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: auto;
    border: none;
    background: #1b2e3c;
    color: #f3e3e2;
    font-size: 1rem;
}

.login-container button:hover {
    background: #335771;
}

.login-container button:active {
    background: #811831;
}

.login-container button:focus {
    outline: none;
}

.move-left {
    transform: translateX(-100vw);
}

.move-right {
    transform: translateX(100vw);
}

#accountContainer {
    display: none;
    width: 100%;
    text-align: center;
}

#accountContainer.show {
    display: block;
    animation: show-account-info 600ms ease-in;
}

@keyframes show-account-info {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

#accountContainer.hidden {
    display: none;
    opacity: 0;
}

#mainLogo {
    position: relative;
    top: 0;
    left: 50%;
    display: block;
    width: 50%;
    max-width: 100%;
    transform: translateX(-50%);
    transition: transform 500ms ease-out
}

#mainLogo.hidden {
    transform: translateX(-150vw);
}

#currentBalance {
    font-weight: 400;
}
